# <%= tshirt["name"] %>

## Author

<%= tshirt["creator"] %>

## What's it look like?

<img src="<%= tshirt["image_url"] %>" width="200" height="200" />

## Where to get?

<a href="<%= tshirt["link_url"] %>" alt="Buy Now">Find it here</a>
